@model MADBHoAccounting.ViewModels.TB_FinancialYear

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TB_FinancialYear</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FinancialStartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FinancialStartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FinancialMiddleDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FinancialMiddleDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FinancialEndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FinancialEndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FinancialYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FinancialYear)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsActiveFinancialYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsActiveFinancialYear)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsAccountClosed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsAccountClosed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsUploaded)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsUploaded)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.FinancialYearPkid">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
